mat-form-field {
  margin: 16px;
  width: 240px;
}

.answer {
  border-radius: 24px;
  color: white;
  padding: 16px
}

.answer-container {
  height: 64px;
}

.component {
  margin-left: 8px;
}

.correct-answer {
  background-color: forestgreen;
}

.hidden-answer {
  display: none;
}

.say {
  height: 64px;
  width: 64px;
}

.wrong-answer {
  background-color: red;
}

.example-phrase {
  font-size: 13px;
  margin-left: 80px;
  margin-bottom: 8px;
}
